<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epicdice</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="container" class="container">
      <header>
		<div class="logo"></div>
        <nav>
          <ul class="hmenu">
            <%= render 'shared/navigation' %>
          </ul>
        </nav>
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_\#{name}" if msg.is_a?(String) %>
        <%- end -%>
      </header>
      <div id="main" class="content" role="main">
		<div class="inner_container">
        	<%= yield %>
		</div>
      </div>

    </div> <!--! end of #container -->
      <footer>
<center>	powered by underpant gnomes </center>
      </footer>
  </body>
</html>